@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
  --color-paragraph: #1A212F;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  height: 5000px;
  background: #D0D0D040;
}

.container {
  max-width: 1498px;
  margin-left: auto;
  margin-right: auto;
}


.btn.button-orange{
  background-color: #FF7236;
  padding: 5px 20px;
  color: #fff;
  font-size: 16px;

  img{
    padding-left: 10px;
  }
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 3px 10px;
  border-radius: 25px;
  border: none;
  outline: none;
  background-color: #fff;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0;
  cursor: pointer;
  transition: .55s;
}

.btn:hover{
  transform: scale(1.1);
  opacity: .9;
}

.btn:active{
  transform: scale(1);
}

.logo {
  cursor: pointer;

  &__image{
    padding-left: 27px;
    margin-bottom: 0;
  }

  h3{
    font-weight: 900;
  }
}

.menu {
  ul{
    display: flex;
    gap: 20px;
  }

  a{
    font-size: 16px;
    font-weight: 700;
    color: black;
    transition: .55s;
    display: block;
  }

  a:hover{
    transform: scale(1.15);
    opacity: .6;
  }
}

.header {
  padding: 12px 98px;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
}

.hero-banner {
  .hero {
    &__bg {
      display: flex;
      height: 504px;
      overflow: hidden;
      
    }
    &__inner {
      margin-left: auto;
    }
    &__bd-right {
      transform: translateX(-13%);
      height: 1000px;
      z-index: -1;
    } 

    &__container{
      max-width: 1920px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 140px;
    }

    &__text{
      position: relative;
       bottom: 350px;
      left: 10%;
      max-width: 400px;

      .text__country{
        color: var(--color-paragraph);
        font-size: 14px;
      }

      h2{
        font-size: 64px;
      }
      
      .text__paragraph{
        color: var(--color-paragraph);
        margin-bottom: 40px;
        font-size: 20px;
        font-weight: 700;
      }
    }
  }
}

.reasons {
  &_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

  }

  &__paw-left{
    z-index: -2;
    position: absolute;
    right: -30px;
    top: 690px;
  }

  &__container {
    max-width: 1370px;
    margin-left: auto;
    margin-right: auto;
  }

  &__inner {
    position: relative;
    bottom: 150px;
  }

  &__title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    line-height: 46.22px;
    margin-bottom: 70px;
  }
}

.reasons {
  &__card {
    max-width: 370px;
    height: 380px;
    padding: 30px;
    background-color: #ffffff;
    transition: .44s;
    
  img{
    margin-bottom: 35px;
  }

  h3{
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 700;
    color: #1A212F;
  }

  p{
    color: var(--color-paragraph);
    line-height: 22.4px;
    font-size: 16px;
    font-weight: 400;
  }
  }

  &__card:hover{
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  }

}


.cat-rooms {


.rooms {


  &__container {
    max-width: 1198px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border: 1px solid #000;
  }
  &__inner {

  }
  &__title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    line-height: 46.22px;
    margin-bottom: 70px;
  }
  &__image-right {
    position: absolute;
    top: 20px;
    left: 0;
    z-index: -5;
  }
  &__cat {
    position: relative;
    left: 167px;
    max-width: 600px;
    z-index: -2;
  }
  &__econom {
    max-width: 500px;
    position: relative;
    left: 58.2%;
    top: -350px;
    background-color: #fff;
    padding: 40px 100px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    border-radius: 10px;
  }
}
.econom {


  &__title {
    font-size: 22px;
    color: var(--color-paragraph);
    letter-spacing: 0%;
    font-weight: 700;
    margin-bottom: 30px;

  }

  &__list{
    margin-bottom: 30px;
  }

  &__list-item{
    margin-bottom: 10px;
  }
  
  &__list-item::before{
   content: "";
  display: inline-block;
  width: 13px; 
  height: 13px;
  background-color: #FAC663; 
  border-radius: 50%; 
  position: relative; 
  margin-right: 5px;
  } 
}

.loader{
  display: flex;
  gap: 12px;
  position: relative;
  left: 550px;
  bottom: 150px;

  .circle{
    width: 12px;
    height: 12px;
    background-color: #E1E1E1;
    border-radius: 50%;
    cursor: pointer;
    transition: .44s;
    display: block;
  }

  .circle:hover{
    transform: scale(1.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  }

  .circle.active{
    background-color: #FAC663;
  }
}

}
